body {
    font-family: Arial, sans-serif;
    background-color: #e9ecef !important;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.navbar.custom-navbar {
    background-color: #00171f; /* Cambiado a #10403B */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #ffcc00;
}

.navbar-nav .nav-item .nav-link {
    color: #ffffff;
    font-size: 1.1rem;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ffcc00;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%288, 8, 8, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

main {
 /*   background-image: url('imagendefondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    background-color: #003554;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

/* Estilos personalizados para la sección Inicio */
/* Estilos personalizados para la sección Inicio */
.inicio-section {
    background-color: #051923;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:fit-content; /* Ajusta el ancho según sea necesario */
    margin: 10px auto 0 auto; /* 10px de margen superior para separar del navbar, centrado horizontalmente */
    position: relative;
    top: 35px; /* Asegura que esté a 10px del navbar */
}
.inicio-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.biografia {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.biografia img {
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
}

.biografia-texto {
    font-size: 1rem;
    line-height: 2;
    color: white;
    text-align: justify;
    max-width: 800px;
}

.biografia-texto p {
    margin-bottom: 15px;
    margin-top: 15px;
}

/* Estilos para la sección de publicaciones */
#publicaciones {
    margin-top: 50px;
}

#publicaciones h2 {
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
}

.continentes button {
    margin: 5px;
}

#libros-estilo .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 8px;
}

#libros-estilo .card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#libros-estilo .card-body {
    padding: 20px;
}

#libros-estilo .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

#libros-estilo .btn-primary {
    background-color: #00171f;
    border-color: #00171f;
}

#libros-estilo .btn-primary:hover {
    background-color: #00334e;
    border-color: #00334e;
}

/* Estilos para los botones*/
/* CSS */
.button-65 {
    appearance: none;
    backface-visibility: hidden;
    background-color: #2f80ed;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 14px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }
  
  .button-65:hover {
    background-color: #1366d6;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }
  
  .button-65:hover:after {
    opacity: .5;
  }
  
  .button-65:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
  }
  
  .button-65:active:after {
    opacity: 1;
  }
  
  @media (min-width: 768px) {
    .button-65 {
      padding: 14px 22px;
      width: 176px;
    }
  }