body {
    font-family: Arial, sans-serif;
    background-color: #e9ecef !important;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.navbar.custom-navbar {
    background-color: #00171f; /* Cambiado a #10403B */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #ffcc00;
}

.navbar-nav .nav-item .nav-link {
    color: #ffffff;
    font-size: 1.1rem;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ffcc00;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%288, 8, 8, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

main {
    padding: 20px;
    margin-top: 80px; /* Adjust this value based on the height of your nav */
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

/* Estilos personalizados para la sección Inicio */
.inicio-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inicio-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.publicaciones-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.card-subtitle {
    font-size: 1rem;
    color: #666;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.card-link {
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.card-link:hover {
    color: #0056b3;
}

/* Estilos personalizados para la información del autor */
.author-info {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.author-info img {
    max-width: 100px;
    border-radius: 50%;
}

.author-info h5 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

.author-info p {
    font-size: 0.9rem;
    color: #666;
}